.App {
    margin: 0% 0% 0% 0%; 
    align-content: center;
    padding: 4% 10% 6% 10%;
    background-color: rgba(4, 24, 72, 0.4);
    color: seashell;
    border: 20px;
    box-shadow: 4px 4px 48px 16px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}