.App {
    margin: 10% 0% 0% 0%; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4% 0% 6% 0%;
    background-color: rgba(4, 24, 72, 0.4);
    color: seashell;
    border: 20px;
    box-shadow: 4px 4px 48px 16px rgba(0, 0, 0, 0.9);
    border-radius: 25px;
}

#pdf {
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .App {
        border: none;
        box-shadow: none;
        border-radius: none;
    }
}