@import url('https://fonts.googleapis.com/css?family=sanchez');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media queries */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .flexCol {
    text-align: center;
    display: inline;
    display: flex;
    width: 100%;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */


@media screen and (max-width: 575px) {
  .flexCol {
    text-align: center;
    display: inline;
    display: flex;
    width: 100%;
  }
  }